<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="file:///android_asset/Templates/Footer/footer.css" />

    <title>Footer</title>
</head>
<body>
<footer class="footer">
    <div id="btnCooking" class="footer__button">
        <img class="footer__button__img" src="file:///android_asset/Recursos/Images/cooking.svg" alt="Girl in a jacket">
    </div>
    <div id="btnLista" class="footer__button">
        <img class="footer__button__img" src="file:///android_asset/Recursos/Images/list.svg" alt="Girl in a jacket">
    </div>
    <div id="btnPerfil" class="footer__button">
        <img class="footer__button__img" src="file:///android_asset/Recursos/Images/perfil.svg" alt="Girl in a jacket">
    </div>
</footer>

<script src="/Templates/Footer/footer.js"></script>

</body>
</html>


