

.background{
    position: absolute;
    display: inline-block; /* O cualquier otro valor para el elemento contenedor */
    width: 100%;
    min-height: 100vh;
    line-height: 0; /*Con esto arreglo que el div sea un poco mas grande.*/
  }


  .background:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.1) 100%);
  }



  .background img {
    position: relative;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
    bottom: 0;
    background-position: center center;

  }









.header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;

}

.header__img
{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.header__text
{
    color: white;
    font-weight: bold;
}

.TextSocial{
    text-align: center;
    display: inline-block;
}


.header__label
{
    text-align: center;
}

.main
{
    position: relative;
}

.main__buttons
{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
}

.button
{
    margin-bottom: 15px;
}


